!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
    script(type='text/javascript',src='/javascripts/jquery-min.js')
    script(type='text/javascript',src='/javascripts/sjcl.js')
    script(type='text/javascript',src='/javascripts/shell.js')
    script(type='text/javascript',src='/javascripts/rsa/jsbn.js')
    script(type='text/javascript',src='/javascripts/rsa/jsbn2.js')
    script(type='text/javascript',src='/javascripts/rsa/prng4.js')
    script(type='text/javascript',src='/javascripts/rsa/rng.js')
    script(type='text/javascript',src='/javascripts/rsa/rsa.js')
    script(type='text/javascript',src='/javascripts/rsa/rsa2.js')
