form#login(method='post',action='/login')
   .field
      label Username:
      input(type='text',name='username',autocomplete='off')
   .field
      label Password:
      input(type='password',name='password',autocomplete='off')
   .field
      input(type='submit',name='password')
